.main-footer{
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 19%, #207cca 78%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 19%,#207cca 78%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 19%,#207cca 78%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .social-media{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    .icons{
      grid-column: 2 / 6;
      padding: 40px 40px 25px;
      a{
        color: white;
        padding: 20px 40px;
      }
    }
  }
  .copyright{
    grid-column: 2 / 6;
    h4{
      grid-column: 2 / 6;
      color: white;
      text-transform: capitalize;
      font-size: .7rem;
      padding: 0px 0 40px;
      text-align: center;
    }
  }
}
