.main-content{
  #hero-image{
    .image{
      background: url("../img/services-hero-img.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
    }
  }
  #services{
    background: #fafafa;
    padding: 0 0 50px;
    margin: 0;
    .title{
      padding: 50px 0;
      margin: 0 auto;
      h1{
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        width: 90%;
        margin: 0 auto;
      }
    }
    .services-offered{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 60px 40px;
      width: 60%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      text-align: center;
      .serv{
        background: blue;
        -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
        border-radius: 3px;
        padding: 30px;
        height: 150px;
        width: 200px;
        color: white;
        text-transform: capitalize;
        margin: 0 auto;
        .fas{
          font-size: 2rem;
        }
        h3{
          padding: 15px 0 0;
          letter-spacing: 1.5px;
        }
      }
    }
  }
  #exercise-img{
    .image-2{
      background: url("../img/outdoor-running.png");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      position: relative;
      z-index: -1;
    }
  }
  #alternative-medicine{
    .title{
      padding: 50px 0 40px;
      h1{
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        width: 90%;
        margin: 0 auto;
      }
    }
    .alt-med-images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0 40px;
        width: 60%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 0 80px;
      img{
        width: 200px;
        height: 150px;
        -webkit-box-shadow: 10px 10px 15px -3px rgba(0,0,250,1);
        -moz-box-shadow: 10px 10px 15px -3px rgba(0,0,250,1);
        box-shadow: 10px 10px 15px -3px rgba(0,0,250,1);
      }
      h3{
        padding: 30px 0;
        margin: 15px 0;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

/* ----- for tablet ----- */
@media (min-width: 768px) and (max-width: 1024px) {

}
/* ----- for mobile ----- */
@media only screen and (max-width: 767px){

}
